<form action="/signup" method="POST">

<p>
    <label for="username">Username</label>
    <input type="text" name="username">
</p>

<p>
    <label for="password">Password</label>
    <input type="password" name="password">
</p>

<p>
    <button type="submit">Sign up</button>
</p>

<<<<<<< HEAD
</form>


{{#if message}}
<p style="color: red;">{{message}}</p>
{{/if}}


<button><a href="/">Back to main page</a></button>
=======

<p>
<button><a href="/">Go back</a></button>
</p>

</form>
>>>>>>> b9279ef621846cd94b305f962cf185c1da061416
