<form style="padding-top: 40px;" action="/signup" method="POST">

<p>
    <label for="username">Username</label>
    <input type="text" name="username">
</p>

<p>
    <label for="password">Password</label>
    <input type="password" name="password">
</p>

<p>
    <button type="submit">Sign up</button>
</p>


<p>
<button><a href="/">Go back</a></button>
</p>

</form>