<form style="padding-top: 40px;" action="/signup" method="POST">

<p>
    <label for="username">Username</label>
    <input type="text" name="username">
</p>

<p>
    <label for="password">Password</label>
    <input type="password" name="password">
</p>

<p>
    <button type="submit">Sign up</button>
</p>

</form>


{{#if message}}
<p style="color: red;">{{message}}</p>
{{/if}}


<button style="margin-top:100px"><a href="/">Back to main page</a></button>
