<h1>
    Search Page <button><a href="/">Go Back</a></button>
</h1>


<div class='sidebar'>
    <h1>Restaurants</h1>
  <div id='listings' class='listings'></div>
</div>

<div id='map' class='map'>Map</div>