{{!-- SEARCHES OMG

<p>
    <div id="map2" style="width: 100%; height: 75vh"></div>
    <pre id="coordiuserCoordinatesnates" class="userCoordinates"></pre>
</p>

<p><button><a href="/">Go Back</a></button></p> --}}