<h1>
    Search Page <button><a href="/">Go Back</a></button>
</h1>
{{!-- 
<div style="width: 50%; heigth: 100vh; float: left">
  {{#each restaurantList}}
    <p>{{name}}</p>
  {{/each}}
</div>

<div id="map" style="width: 50%; height: 100vh"></div>

<p><button><a href="/">Go Back</a></button></p> --}}

<div class='sidebar'>
  <div class='heading'>
    <h1>Our locations</h1>
  </div>
  <div id='listings' class='listings'></div>
</div>

<div id='map' class='map pad2'>Map</div>