<h1>
    Search Page <button><a href="/">Go Back</a></button>
</h1>
<<<<<<< HEAD

<div style="width: 50%; heigth: 100vh; float: left">
  {{#each restaurantList}}
    <p>{{name}}</p>
  {{/each}}
</div>

<div id="map" style="width: 50%; height: 100vh"></div>
=======
<div id="map" style="width: 90%; height: 100vh"></div>
>>>>>>> origin

<p><button><a href="/">Go Back</a></button></p>
