<h1 style="color:rgb(205, 126, 99); font-size: 25px;">
    Find your restaurant!
</h1>

<div style="width: 50%; heigth: 100vh; float: left">
  {{#each restaurantList}}
    <p>{{name}}</p>
  {{/each}}
</div>
<div class="container"> 
<div id="map" style="width: 50%; height: 100vh"></div> 

<p><button style="padding: 8px 17px;"><a href="/">Go Back</a></button></p>

<div class='sidebar'>
  <div class='heading'>
   
  </div>
  <div id='listings' class='listings'></div>
</div>
</div>
{{!-- <div id='map' class='map pad2'>Map</div> --}}

