<h1 style="color:rgb(205, 126, 99); font-size: 25px; text-align:center; margin-top:20px">
    Drag the pin to find your perfect Restaurant!
</h1>

<div class="searchMapResults">
  <div style="width: 50%; heigth: 100vh; float: left">
    {{#each restaurantList}}
      <p>{{name}}</p>
    {{/each}}
  </div>

  <div class="container"> 
      <div id="map" style="width: 50%; height: 65vh"> </div> 
      
      <br>

      <div class='sidebar'>
        <div class='heading'>
    </div>
  
      <div id='listings' class='listings'> </div>
    </div>
    {{!-- end sidebar --}}
  </div>
  {{!-- end container --}}
</div> 
{{!-- end serachmapresults --}}

{{!-- <p><button style="padding: 8px 17px;"><a href="/">Go Back</a></button></p> --}}