body {
  padding: 0px;
  // margin: 0 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(205, 126, 99);
}


.sidebar {
  // outline: 1px solid red;
  width: 32%;
  float: left;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.map {
  // outline: 1px solid blue;
  border-left: 1px solid #fff;
  float:right;
  width: 66.6666%;
  height: 80vh;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-result-title {
  font-size: 1.2em;
  color :rgb(205, 126, 99);
  text-decoration: none;
  font-weight: bold;
  line-height: 1.2em;
  padding-top: 10px;
}

.bg-light {
  background-color: rgb(134, 148, 137)!important;
  font-size: 17px;
}

a.nav-link {
  color: white !important;
}

a.nav-link:hover {
  color: rgb(243, 190, 190) !important;
}

.blabla {
color: rgb(205, 126, 99);
font-size: 20px;
}

.container {
  display:flex;
  justify-content: space-between;
  margin-top: 50px;

}


footer {
  background:#F1FAEE;
  padding :0 ;
  margin: 0;
  height: 100%;
}

// F1FAEE light green
// #A8DADC a nice blue

.footerContainer {
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  // border: 2px solid blue;
  margin: 0 50px;
}

.rene {
  font-style: italic;
  // line-height: 1;
}
.rene img {
  margin: 0 35%;
}

.auth {
  padding: 20vh;
}

.myListTop {
  // border: 2px solid green;
  padding: 2%
}

.myListResults {
  padding: 2%;
  align-items:base;
  // align-content: center;
  display: flex;
  flex-direction: column;
  flex-direction: wrap;
  // max-width: 75vw;
  // margin-bottom: 5%;
  width:100vw;
  background: #869489;
}

.myListItem {
  justify-content:space-evenly;
  align-items: center;
  display: inline-flex;
  background: white;
  padding: 10px;
  margin: 10px;
  
}

.myListItem h3 { 
  align-items:center;
  width: 20vw;
}
