body {
  padding: 0px;
  // margin: 0 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.sidebar {
  // outline: 1px solid red;
  width: 32%;
  float: left;
}

.map {
  // outline: 1px solid blue;
  border-left: 1px solid #fff;
  float:right;
  width: 66.6666%;
  height: 80vh;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// .search-result-title {
//   font-size: 1.2em;
//   color: #d61f26;
//   text-decoration: none;
//   font-weight: bold;
//   line-height: 1.2em;
//   padding-top: 10px;
// }

.bg-light {
  background-color: #d61f26 !important;
}

a.nav-link {
  color: white !important;
}

a.nav-link:hover {
  color: rgb(243, 190, 190) !important;
}

footer {
  background:#F1FAEE;
  padding :0 ;
  margin: 0;
  height: 100%;
}

// F1FAEE light green
// #A8DADC a nice blue

.auth {
  // height: 80%;
  // border: 1px solid black;
  padding: 20vh;
}